*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.installed.cfg
.mr.developer.cfg
buildout.cfg
pip-selfcheck.json
/bin/
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/fake-eggs/
/include/
/lib/
/local/
/parts/
/var/
/selfcheck/bin/
/selfcheck/parts/
/selfcheck/lib/
/selfcheck/local/
/selfcheck/include/
/selfcheck/develop-eggs/
/selfcheck/.*
