# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.

vcl {{version}}.0;

import std;

# configure all backends
{% for backend in backends %}
backend {{backend['name']}} {
   .host = "{{backend['host']}}";
   .port = "{{backend['port']}}";
   .connect_timeout = {{backend['connect_timeout']}};
   .first_byte_timeout = {{backend['first_byte_timeout']}}s;
   .between_bytes_timeout  = {{backend['between_bytes_timeout']}}s;
}
{% endfor %}

{% if directors %}
import directors;
{% endif %}

sub vcl_init {
    {% if directors %}
    # configure directors for load balancing
    {% for director in directors %}

    new {{director['name']}} = directors.{{director['type']}}();
    {% for backend in director['backends'] %}
    {{director['name']}}.add_backend({{backend}});
    {% endfor %}{% endfor %}{% endif %}
    {{custom['vcl_init']}}
}

acl purge {
    "localhost";
    {% for purgehost in purgehosts %}
    "{{purgehost}}";
    {% endfor %}
}

sub vcl_recv {
{% if vhosting|length > 1 %}
    # virtual hosting matches
    {% for vh in vhosting %}
    {% if loop.first %}
    if ({{vh['match']}}) {
    {% else %}
    } elseif ({{vh['match']}}) {
    {% endif %}
    {% for key, value in vh['setters'].items() %}
        set {{key}} = {{value}};
    {% endfor %}
    {% if loop.last %}{% if code404page %}
    } else {
        error 404 "Unknown virtual host";
    {% endif %}
    }
    {% endif %}
    {% endfor %}
{% else %}
    {% for key, value in vhosting[0]['setters'].items() %}
    {{key}} = {{value}};
    {% endfor %}
{% endif %}

    if (req.method == "PURGE") {
        # Not from an allowed IP? Then die with an error.
        if (!client.ip ~ purge) {
            return (synth(405, "This IP is not allowed to send PURGE requests."));
        }
        return(purge);
    }

    if (req.method == "BAN") {
            # Same ACL check as above:
            if (!client.ip ~ purge) {
            return(synth(403, "Not allowed."));
            }
            #ban("req.url ~ " + req.url);
        ban("req.http.host == " + req.http.host +
            " && req.url == " + req.url);
            # Throw a synthetic page so the
            # request won't go to the backend.
            return(synth(200, "Ban added"));
    }

    # Large static files should be piped, so they are delivered directly to the end-user without
    # waiting for Varnish to fully read the file first.
    # TODO: once the Varnish Streaming branch merges with the master branch, use streaming here to avoid locking.
    if (req.url ~ "^[^?]*\.(mp[34]|rar|tar|tgz|gz|wav|zip)(\?.*)?$") {
        unset req.http.Cookie;
        return(pipe);
    }

    # Only deal with "normal" types
    if (req.method != "GET" &&
           req.method != "HEAD" &&
           req.method != "PUT" &&
           req.method != "POST" &&
           req.method != "TRACE" &&
           req.method != "OPTIONS" &&
           req.method != "DELETE") {
        /* Non-RFC2616 or CONNECT which is weird. */
        return(pipe);
    }

    # Only cache GET or HEAD requests. This makes sure the POST requests are always passed.
    if (req.method != "GET" && req.method != "HEAD") {
        # Dont't cache POST
        if (req.method == "POST") {
            return(pass);
        }

        # Dont't cache createObject
        if (req.url ~ "createObject") {
            return(pass);
        }

        return(pass);
    }

    if (req.http.Expect) {
        return(pipe);
    }

    if (req.http.If-None-Match && !req.http.If-Modified-Since) {
        return(pass);
    }

    /* Do not cache other authorized content by default */
    if (req.http.Authenticate || req.http.Authorization) {
        return(pass);
    }

    if (req.http.Cookie && req.http.Cookie ~ "__ac(|_(name|password|persistent))=") {
        if (req.url ~ "\.(js|css|kss)") {
            remove req.http.cookie;
            return(lookup);
        }
        return(pass);
    }
    {% if cookiewhitelist|length > 0 %}

    /* Cookie whitelist, remove all not in there */
    if (req.http.Cookie) {
        set req.http.Cookie = ";"%(str_concat)sreq.http.Cookie;
        set req.http.Cookie = regsuball(req.http.Cookie, "; +", ";");
        set req.http.Cookie = regsuball(req.http.Cookie, ";({% for name in cookiewhitelist %}{{name}}{% if not loop.last %}|{% endif %}{% endfor %})=", "; \1=");
        set req.http.Cookie = regsuball(req.http.Cookie, ";[^ ][^;]*", "");
        set req.http.Cookie = regsuball(req.http.Cookie, "^[; ]+|[; ]+$", "");
        if (req.http.Cookie == "") {
            remove req.http.Cookie;
        }
    }
    {% endif %}

    return(hash);
}

sub vcl_pipe {
${vcl_pipe}
    # By default Connection: close is set on all piped requests, to stop
    # connection reuse from sending future requests directly to the
    # (potentially) wrong backend. If you do want this to happen, you can undo
    # it here.
    # unset bereq.http.connection;

    return(pipe);
}

sub vcl_pass {
    return (fetch);
}

sub vcl_purge {
    return (synth(200, "Purged"));
}

sub vcl_hit {
${vcl_hit}
    if (obj.ttl >= 0s) {
        // A pure unadultered hit, deliver it
        # normal hit
        return (deliver);
    }

    # We have no fresh fish. Lets look at the stale ones.
    if (std.healthy(req.backend_hint)) {
        # Backend is healthy. Limit age to 10s.
        if (obj.ttl + 10s > 0s) {
            set req.http.grace = "normal(limited)";
            return (deliver);
        } else {
            # No candidate for grace. Fetch a fresh object.
            return(fetch);
        }
    } else {
        # backend is sick - use full grace
        // Object is in grace, deliver it
        // Automatically triggers a background fetch
        if (obj.ttl + obj.grace > 0s) {
            set req.http.grace = "full";
            return (deliver);
        } else {
            # no graced object.
            return (fetch);
        }
    }

    if (req.method == "PURGE") {
        set req.method = "GET";
        set req.http.X-purger = "Purged";
        return(synth(200, "Purged. in hit " + req.url));
    }

    // fetch & deliver once we get the result
    return (fetch);
}

sub vcl_miss {
${vcl_miss}
    if (req.method == "PURGE") {
        set req.method = "GET";
        set req.http.X-purger = "Purged-possibly";
        return(synth(200, "Purged. in miss " + req.url));
    }

    // fetch & deliver once we get the result
    return (fetch);
}

sub vcl_backend_fetch{
    return (fetch);
}

sub vcl_backend_response {
${vcl_backend_response_verbose}
${vcl_backend_response}
    if (beresp.ttl <= 0s
        || beresp.http.Set-Cookie
        || beresp.http.Surrogate-control ~ "no-store"
        || (!beresp.http.Surrogate-Control && beresp.http.Cache-Control ~ "no-cache|no-store|private")
        || beresp.http.Vary == "*") {
            /* * Mark as "Hit-For-Pass" for the next 2 minutes */
            set beresp.ttl = 120s;
            set beresp.uncacheable = true;

    if (beresp.status >= 500 && beresp.status < 600) {
        unset beresp.http.Cache-Control;
        set beresp.http.X-Cache = "NOCACHE";
        set beresp.http.Cache-Control = "no-cache, max-age=0, must-revalidate";
        set beresp.ttl = 0s;
        set beresp.http.Pragma = "no-cache";
        set beresp.uncacheable = true;
        return(deliver);
    }

    if (bereq.url ~ "createObject") {
        set beresp.uncacheable = true;
        return(deliver);
    }

    set beresp.grace = 1h;

    return (deliver);
}

sub vcl_deliver {
    set resp.http.grace = req.http.grace;
${vcl_deliver_verbose}
${vcl_deliver}
}

/*
 We can come here "invisibly" with the following errors: 413, 417 & 503
*/
sub vcl_synth {
    set resp.http.Content-Type = "text/html; charset=utf-8";
    set resp.http.Retry-After = "5";

    synthetic( {"
        <?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
        <html>
          <head>
            <title>"} + resp.status + " " + resp.reason + {"</title>
          </head>
          <body>
            <h1>Error "} + resp.status + " " + resp.reason + {"</h1>
            <p>"} + resp.reason + {"</p>
            <h3>Guru Meditation:</h3>
            <p>XID: "} + req.xid + {"</p>
            <hr>
            <p>Varnish cache server</p>
          </body>
        </html>
    "} );

    return (deliver);
}
